/* calendar start */

.cal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
/* .cal-top {
    
} */
.cal-top > h2 {
    position: absolute;
    top: 50px;
    left: 100px;
}
.cal-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cal-group {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.cal-group > div {
    width: 140px;
    height: 80px;
    border: 2px solid #eaeaea;
    border-radius: 5px;
}
.cal-day {
    text-align: center;
    width: 20px;
}

/* calendar end */
